@font-face{
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face{
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.ttf');
}


*{
  font-family: 'Montserrat Medium';
  box-sizing: border-box;
  margin: 0;
}




dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}


.container1 {
	padding-top:100px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.container2 {
    /* padding-top: 100px; */
    padding-bottom: 20px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 660px;
}
.container2 a {
	color:#82afcc;
}
.new_com {
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: brown;
}


.bg {
  background-image: url("../img/fonTP.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.pr h4 {
  padding-top: 70px;
  color: rgb(98 158 211);
}

}
 .MainText h1{
  text-align: right;
  font-size: 56px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  max-width: 80%;
    
 }
  .MainText p{
    font-size: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-family: 'Montserrat Light';
  text-align: right;
 }

section {
  padding-bottom: 100px;
}

header .container {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

header .logo a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-family: "Manrope Bold";
}

header nav {
  width: 446px;
  max-width: 100%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  text-decoration: none;
  color: white;
}
section#Main .MainText {
  margin-top: 50px;
  padding-top: 50px;
  text-align: right;
  color: white;
}

section#Main .MainText h1 {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  font-size: 60px;
}

section#Main .butn {
  border: none;
  border-radius: 25px;
  color: #675ABF;
  font-size: 24px;
  font-family: "Manrope Light";
  width: 400px;
  height: 55px;
  outline: none;
  margin-bottom: 250px;
  margin-left: 600px;

}

section#Main .butn:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 35.72px 2.28px rgba(177, 85, 246, 0.68);
  cursor: pointer;
}

section#Main .butn:not(:hover) {
  transition: 0.5s ease-in-out;

}





#menu a:active {
color: #7f747f;
}
#menu select {
display: none;
}

#menu .active a {
border:0;
color:#7f747f;
}
#menu .active a:focus{
  outline: none;
border: none;
}
#menu .active a:active {
  outline: none;
border: none;;
}
#menu .active a:link {
  outline: none;
border: none;
}
#menu .active a:visited  {
  outline: none;
border: none;
}
#menu li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

  padding-left: 17px;
  padding-right: 16px;
  float:left;
 
  font-size:14px;
  color:#fff;
  list-style:none;
  text-transform:uppercase;
  font-weight:700;
}
#menu li:last-child{
  border-right:0;
  padding-right:0px;
}
#menu{
  margin-top: 33px;
  
  float: right;
}
#menu li a {
    color: #000;
    text-decoration: none;
}
#menu li a:hover{
  border:none;
  outline:none;
  color:#7f747f;
}
header {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}


.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

nav{
  width: 290px;
  max-width: 100%;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a{
  color: black;
  text-decoration: none;
}


