* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: raleway_c;
	src: url(../fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}
body {
    background-color: #000;
    color: #fff;
    font-size: calc(var(--index) * .8);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    /* height: var(--depth); */
    font-weight: 300;
}


#popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    transition: 0.3s;
}
.close {
    margin: 0 auto;
    /* border-radius: 20px; */
    padding-top: 18px;
    padding-left: 340px;
}
.hide{
  opacity: 0;
  pointer-events: none;
}

h2.text-center {
    color: black;
    font-size: 30px;
    text-transform: none;
    font-family: system-ui;
    text-align: center;
    padding-left: 100px;
}
#popup {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 20px;
    left: 50%;
    background-color: white;
    border-radius: 20px;
    top: 50%;
    margin-left: -200px;
    margin-top: -225px;
}
#popup-bg #popup a {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: white;
    line-height: 35px;
    color: #33a1ff;
    text-decoration: none;
    /* border-width: 0; */
    /* border-radius: 20px; */
    font-family: 'Montserrat Light';
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
    /* height: 100%; */
    padding-left: 100px;
    padding-bottom: 50px;
}
section#COMMENTS {
    padding-top: 100px;
    padding-bottom: 30px;
}
.containerCArd_otz {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}
.fr_q {
  display: inline-table;
  margin-right: 20px;
}
.fr_q1 {
    display: inline-table;
    margin-right: 20px;
    margin-top: 100px;
}
.fr_text {
    padding-top: 20px;
}
.fr_span {
    position: absolute;
    /* float: left; */
    /* right: 1000px; */
    /* left: 800px; */
    top: 425px;
    padding-left: 320px;
}
.fr_span1 {
    position: absolute;
    /* float: left; */
    /* right: 1000px; */
    /* left: 800px; */
    top: 795px;
    padding-left: 320px;
}
.fr_q h1 {
    font-weight: 100;
    text-transform: none;
    width: auto;
    font-size: 24px;
    line-height: 1;
}

.fr_q1 h1 {
    font-weight: 100;
    text-transform: none;
    width: auto;
    font-size: 24px;
    line-height: 1;
}

.fr {
    padding-left: 80px;
}

#menu a:active {
color: #7f747f;
/* #5070a3 */
}
#menu select {
display: none;
}

#menu .active a {
border:0;
color:#7f747f;
}
#menu .active a:focus {
outline: none;
border: none;
}
#menu .active a:active {
outline: none;
border: none;
}
#menu .active a:link {
outline: none;
border: none;
}
#menu .active a:visited  {
outline: none;
border: none;
}
#menu li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

  padding-left: 17px;
  padding-right: 16px;
  float:left;

  font-size:14px;
  color:#fff;
  list-style:none;
  text-transform:uppercase;
  font-weight:700;
}
#menu li:last-child{
  border-right:0;
  padding-right:0px;
}
#menu{
  margin-top: 33px;
  float: right;
}
#menu li a{
  color: white;
  text-decoration:none;
}
#menu li a:hover{
  border:none;
  outline:none;
  color:#7f747f;
}
header {
    width: 100%;
    height: 100px;
    /* border-bottom: 1px solid #ececec; */
}

nav{
  width: 290px;
  max-width: 100%;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a{
  color: black;
  text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    /* cursor: help; */
}

header .logo a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-family: "Manrope Bold";
}

header nav {
  width: 446px;
  max-width: 100%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  text-decoration: none;
  color: white;
}
header .container1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: black;
    padding-right: 240px;
    /* width: 1600px; */
    padding-left: 240px;
    justify-content: space-between;
}
h1, h2, h3, h4 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
}

#dalee li {
    display: inline-block;
    padding-right: 140px;
}
#dalee li a{
  color: white;
  text-decoration:none;
}
#dalee li a:hover{
  border:none;
  outline:none;
  color:#7f747f;
}

.frame{
	display: inline-block;
}

.frame__content3{
display: inline-block;
}
	.fr2{
		width: 145px;
		height: 145px;

}

.frame__content3 p {
	padding-bottom: 40px;
	padding-top: 40px;
}

	.FR1{
		padding-bottom: 90px;
		 border-bottom: 1px solid #ececec;

}
.framee {
    padding-left: 200px;
    padding-top: 80px;
}

.logo {
    padding-top: 30px;
}




.container1 {
    /* display: flex; */
    align-items: center;
    height: 100px;
    display: contents;
    /* position: fixed; */
    /* background-color: black; */
    /* width: 1600px; */
    /* position: relative; */
    /* padding-left: 240px; */
    justify-content: space-between;
}
footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ececec;
}
footer .container1 {
    display: flex;
    align-items: center;
    /* height: 100px; */
    position: fixed;
    background-color: black;
    width: 100%;
    padding-right: 240px;
    /* width: 1600px; */
    position: relative;
    padding-left: 240px;
    justify-content: space-between;
}
.card_r a {
    text-decoration: none;
    padding-left: 20px;
}
.container33 ul li a {
    text-decoration: none;
    color: grey;
    font-size: 10px;
}

.container33 ul li {
    display: flex;
    justify-content: center;
}

.container33 {
    width: 1107px;
    margin: 0 auto;
    /* padding-top: 28px; */
}

.card_r1 {
    padding-right: 45px;
    padding-top: 40px;
}
.box4 li {
    list-style: none;
    margin-left: 10px;
}

.box122 h1 {
    padding-bottom: 50px;
}
.box123 h1 {
	padding-top: 40px;
   
}

.com ul li {
    width: 100px;
}
.com {
  
    padding-bottom: 50px;
}
.com ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}
.come {
    
}
.com form {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.text {
    margin-bottom: 50px;
}

input[type="text"] .text textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: white;
    border-radius: 20px;
    line-height: 40px;
    /* border-width: 0; */
    /* border-radius: 20px; */
    font-family: 'Montserrat Light';
}
input[type="text"] {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    background: white;
    height: 80px;
    width: 1000px;
    border-radius: 20px;
    line-height: 40px;
    /* border-width: 0; */
    /* border-radius: 20px; */
    font-family: 'Montserrat Light';
}
input[type="submit"] {
    /* margin-top: 30px; */
    background: #1c1c1c;
    /* border-bottom: 4px solid #ffc107; */
    color: white;
    font-size: 14px;
    width: 160px;
    /* margin-left: 130px; */
    border: none;
    margin-left: 880px;
    /* padding-bottom: 20px; */
    border-radius: 20px;
    /* margin: auto; */
    margin-top: 20px;
    height: 40px;
}
.com1 {
    padding-top: 30px;
}
.text {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 18px;
}
p3 {
    padding-bottom: 30px;
}
.containerCArd_otz ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}
.containerCArd_otz1 ul li{
 width: 50px;
 padding-bottom: 30px;
}
.card2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    float: right;
    background-color: #202020;
    margin-right: 100px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 20px;
    /* font-size: 18px; */
}
.bubl {
    margin: 0 auto;
    /* background-color: #dddddd; */
    margin-bottom: 40px;
    /* border-radius: 40px; */
    width: 1100px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
h2.text-right {
    padding-top: 40px;
    padding-left: 40px;
}
ul {
    list-style: none;
}
.com1 {
    padding-top: 30px;
    padding-left: 40px;
}
.login {
    border-bottom: 1px solid #d7d7d7;
    /* min-width: auto; */
    width: max-content;
    /* filter: opacity(0.3); */
}
.icon2 {
    margin-left: 40px;
}
.icon2 p {
   font-size: 18px;
}
.timestamp {
    color: #cdcdcd;
    font-size: 14px;
}
ol#com4 {
    list-style: none;
    display: flex;
    /* margin: 20px; */
    /* padding-right: 20px; */
}
ol li {
  padding-top: 20px;
  padding-right: 20px; 
}
.avatar {
    padding-top: 10px;
}
button.com_more {
    height: 40px;
    width: 150px;
    border: 1px solid black;
    margin: auto;
    background-color: unset;
    border-radius: 20px;
}

.card2 button:hover {
    color: white;
    background-color: #383838;
}

li.last img:hover {
    /* filter: blur(1px); */
    filter: brightness(0.5);
}
.logo img:hover {
    filter: blur(1px);
}
.card_r1 img:hover {
    filter: blur(1px);
}
@media (prefers-color-scheme: light) {
body{
background-color: var(--color-white);	
}
.icon2 p {
    color: #b1b1b1;
}
.card1 h2{
	color: black;
}
.card1 p{
	color: black;
}
.card_r1{
	 filter: invert(100%);
}
.logo {
   filter: invert(100%);
}

#menu li a {
    color: black;
    text-decoration: none;
}
#menu li:last-child {
	 filter: invert(100%);
	 
}
header .container1 {
	background-color: white;
	border-bottom: 1px solid #ececec;
}
.card2 {
color: black;
}
.catalog {
color: black;
background-color: white;
}
.catalog-block h2{
    color: black;
}
.catalog-block h3{
    color: black;
}
.catalog-block label {
  color: black;
}
.catalog #gorod:checked~.label-block #gorod-tab, .catalog #more:checked~.label-block #more-tab, .catalog #gori:checked~.label-block #gori-tab, .catalog #gorod:checked~.label-block #gorod-tab, .catalog #more:checked~.label-block #more-tab, .catalog #gori:checked~.label-block #gori-tab, .catalog #all:checked~.label-block #all-tab {
    color: black;
    border-radius: 0px;
    border-bottom: 1px solid #d3d3d3;
}
#dalee li a {
    color: black;
}

footer .container1 {
	color: black;
	background-color: white;
}

footer .container33 {
	color: black;
	background-color: white;
}

.cont_text h1{
  color: black;
}
.cont_text p{
  color: black;
}
.cont_card p{
  color: black;
}
h1.results__caption {
    color: black;
}
.card {
    color: black;
}
input[type="text"] {
    border: 1px solid gainsboro;
}
select.search__form-selects {
     border: 1px solid gainsboro;
}
input[type="date"] {
    border: 1px solid gainsboro;
}
input[type="number"] {
    border: 1px solid gainsboro;
}
.inputBox span{
	color: black;
	
}
.card_r1 {
    filter: invert(100%);
}
h2.results__card-caption {
    color: black;
}
p.results__card-descript {
    color: black;
}
.card_r1 {
    filter: invert(100%);
}
.box122 {
	color: black;
}
.box1 {
	color: black;
}
.com {
	color: black;
}
.containerCArd_otz {
    color: black;
}
}
